* {
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 200%;
}

body {
    border: 5px solid lightblue;
}

address {
    max-width: 100%;
    display: block;
    font-style: normal;
}

img {
    max-width: 20rem;
    margin-right: 10px;
}

hr {
    color: dodgerblue;
}

.biography {
    display: flex;
    align-items: center;
}

.biography > div {
    flex-basis: 40%;
}
.picture {
    height: 350px;
    width: 250px;
    padding-left: 150px;
}

.cursive {
    font-style: italic;
}

.center {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
}

.img-col {
    flex-basis: 50%;
}

.indentation {
    text-indent: 50px;
}

.introduction {
    max-width: 100%;
    margin-left: 10px;
}

.left-column {
    max-width: 100%;
    flex-basis: 100%;
    margin-left: 200px;
}
.right-column {
    max-width: 100%;
    margin-right: 200px;
}

.nominee {
    color: darkcyan;
}

.winner {
    color: blue;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .biography{
        display: initial;
    }
    .content {
        display: initial;
    }
    .left-column {
        margin-left: 0px;
    }
    .right-column {
        margin-right: 0px;
    }
}